@{
    ViewData["Title"] = "Module 2 Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul>
    <li>
        <a asp-area="module2" asp-controller="contacts" asp-action="index">Contacts Assignment</a>
    </li>
    <li>
        <a asp-area="module2" asp-controller="movie" asp-action="index">Movie Assignment</a>
    </li>
</ul>
