@model Ch04MovieList.Models.StudentViewModel
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var students in @Model.Students)
            {
                <tr>
                    <td>@students.FirstName</td>
                    <td>@students.LastName</td>
                </tr>
            }
        </tbody>
    </table>