@model Ch04MovieList.Models.Contact
    @{
        ViewBag.Title = "Delete Contact";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Confirm Deletion</h2>
    <h3>@Model.Name (@Model.Note)</h3>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ContactId" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Home" asp-action="Index"
           class="btn btn-primary">Cancel</a>
    </form>