@{
    ViewData["Title"] = "Custom Routing Rules Dummy Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <label>Assignment Name:</label>
    <input value="@ViewBag.Name" readonly />
    <label>Module:</label>
    <input value="@ViewBag.Module" readonly />
</div>